$primary-color:#277df4;
$primary-font: 'Varela Round',
sans-serif;
#header {
    .container-fluid {
        padding: 0;
    }
    .image-container {
        position: relative;
        background-image: url("../images/mountain3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50rem;
        .opacity {
            width: 100%;
            height: 100%;
            background-color: rgba(250, 250, 250, .30);
            position: absolute;
            top: 0;
            left: 0;
            .watch-button {
                text-decoration: none;
                color: black;
                display: inline-block;
                width: 150px;
                height: 40px;
                line-height: 35px;
                border: 1px solid #ccc;
                border-radius: 50px;
                transition: all .3s linear;
                margin: 50px 0px;
                font-size: .8rem;
                font-weight: 500;
                &:hover {
                    color: white;
                    background: $primary-color;
                    border: 1px solid $primary-color;
                }
                i {
                    margin-right: 5px;
                }
            }
            p {
                opacity: .7;
            }
            h1 {
                font-family: $primary-font;
                font-weight: 600;
                font-size: 2.8rem;
                margin: 7rem 0 1rem 0;
            }
            .iphone-6 {
                display: block;
                width: 300px;
                margin: 0 auto;
                margin-top: 35px;
            }
        }
    }
    .bg-light {
        background-color: transparent !important;
    }
    .navbar {
        .navbar-nav {
            .nav-link {
                border-radius: 50px;
                padding: .3rem 1rem;
                font-weight: 500;
                color: black;
                transition: all .3s linear;
                margin: 0px 5px;
                &:hover {
                    background: $primary-color;
                    color: white;
                }
            }
            .active-button {
                background-color: $primary-color;
                color: white;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

#part-2 {
    position: relative;
    z-index: 5;
    background-color: #ffffff;
    padding: 40px 0px;
    .item-contain {
        .item {
            padding: 30px;
            transition: all .3s linear;
            height: 350px;
            &:hover {
                box-shadow: 0px 6px 15px rgba(0, 0, 0, .25);
            }
            .material-icons {
                font-size: 40px;
                color: $primary-color;
            }
            h4 {
                margin: 25px 0px;
                font-family: $primary-font;
                opacity: .7;
            }
            p {
                font-family: $primary-font;
                font-size: 13.5px;
                opacity: .7;
            }
        }
        div:nth-child(3) {
            width: 90%;
            border: .5px solid #ccc;
            margin: 0px auto;
            margin-top: 40px;
        }
    }
}

#part-3 {
    padding-top: 50px;
    .img-contain {
        overflow: hidden;
        &:hover {
            img {
                transform: rotate(2deg) scale(1.1);
            }
        }
        img {
            width: 100%;
            transition: all .3s linear;
        }
    }
    .item {
        padding: 20px;
        height: 400px;
        width: 100%;
        h2 {
            font-family: $primary-font;
            margin-bottom: 30px;
        }
        p {
            opacity: .7;
            font-size: 14.5px;
            font-family: $primary-font;
        }
        div:nth-child(1) {
            transform: translateY(-350px);
            opacity: 0;
            transition: all .3s linear;
            transition-delay: .4s;
        }
        div:nth-child(2) {
            transform: translateY(-350px);
            opacity: 0;
            transition: all .2s linear;
            transition-delay: .3s;
        }
        div:nth-child(3) {
            transform: translateY(-350px);
            opacity: 0;
            transition: all .3s linear;
            a {
                font-size: 13px;
                text-decoration: none;
                margin-top: 30px;
                font-family: $primary-font;
                i {
                    font-size: 11px;
                    margin-left: 15px;
                }
            }
            a:nth-child(1) {
                display: inline-block;
                width: 170px;
                height: 40px;
                background: $primary-color;
                text-align: center;
                line-height: 40px;
                color: white;
                border-radius: 50px;
                margin-right: 30px;
                transition: all .3s linear;
                border: 1px solid transparent;
                &:hover {
                    background: white;
                    color: black;
                    border: 1px solid #ccc;
                }
            }
            a:nth-child(2) {
                display: inline-block;
                height: 40px;
                width: 110px;
                text-align: center;
                line-height: 40px;
                color: black;
                border: 1px solid #ccc;
                border-radius: 50px;
                transition: all .3s linear;
                &:hover {
                    background: $primary-color;
                    color: white;
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}

#part-4 {
    .map-container {
        .item {
            padding: 20px;
            height: 450px;
            h2 {
                font-family: $primary-font;
                margin: 30px 0px;
            }
            p {
                font-family: $primary-font;
                font-size: 14px;
                opacity: .7;
            }
            span {
                display: block;
                font-family: $primary-font;
                font-size: 11px;
                font-weight: 800;
                margin-top: 50px;
            }
            img {
                width: 150px;
                margin: 20px 20px 0px 0px;
            }
            div:nth-child(1) {
                transform: translateX(-350px);
                transition: all .3s linear;
                transition-delay: .4s;
                opacity: 0
            }
            div:nth-child(2) {
                transform: translateX(-350px);
                transition: all .3s linear;
                transition-delay: .2s;
                opacity: 0;
            }
            div:nth-child(3) {
                transform: translateX(-350px);
                transition: all .3s linear;
                opacity: 0;
            }
        }
        #vmap {
            margin-top: 30px;
            width: 100%;
            height: 450px;
            .jqvmap-zoomout {
                display: inline-block;
                width: 20px;
                height: 20px;
                background: $primary-color;
                color: white;
                text-align: center;
                font-weight: 700;
                line-height: 15px;
                cursor: pointer;
                border-radius: 3px;
                margin: 5px;
            }
            .jqvmap-zoomin {
                display: inline-block;
                width: 20px;
                height: 20px;
                background: $primary-color;
                color: white;
                text-align: center;
                font-weight: 700;
                line-height: 15px;
                cursor: pointer;
                border-radius: 3px;
                margin: 5px;
            }
            .region-pointer {
                font-family: $primary-font;
            }
        }
    }
}

#part-5 {
    padding: 100px 0px;
    width: 100%;
    background: #eee;
    .text-contain {
        h2 {
            font-family: $primary-font;
        }
        div {
            width: 40px;
            border: 1px solid $primary-color;
            margin: 30px auto;
        }
        p {
            font-size: 11px;
            opacity: .7;
            font-weight: 600;
        }
    }
    .owl-carousel .image-content {
        width: 300px;
        height: 400px;
        margin: 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .form-content {
        margin-top: 100px;
        small {
            font-size: 11px;
            opacity: .7;
        }
        h2 {
            font-family: $primary-font;
            margin-top: 30px;
        }
        div {
            border: 1px solid #ccc;
            width: 300px;
            margin: 30px auto;
            border-radius: 50px;
            padding: 8px 0px 9px 0px;
            position: relative;
            @media only screen and(max-width:700px){
                width: 250px;
            }
            a {
                font-size: 14px;
                color: white;
                padding: 8px 20px;
                background: #6fc854;
                border-radius: 50px;
                text-decoration: none;
                margin-left: 166px;
                @media only screen and(max-width:700px){
                    padding: 8px 10px;
                    margin-left: 137px;
                }
            }
            input {
                outline: none;
                background: transparent;
                border: 0px;
                margin: 0px;
                position: absolute;
                left: 20px;
                top: 7px;
                font-size: 15px;
                width: 100px;
            }
        }
        img {
            width: 150px;
            display: block;
            margin: 20px auto;
        }
    }
}

@keyframes anima-op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#part-6 {
    padding: 100px 0px;
    position: relative;
    .workers-contain {
        display: none;
        img {
            width: 100px;
        }
        h4 {
            font-family: $primary-font;
            margin-top: 50px;
        }
        p {
            opacity: .7;
            margin-top: 30px;
        }
        div {
            margin-bottom: 40px;
            i {
                font-size: 20px;
                color: #f1bb3a;
            }
        }
        small {
            font-weight: 800;
            font-size: 11px;
        }
        
    }
    .nav-contain{
        .prev-slide{
            position: absolute;
            top: 100px;
            left: 20%;
            i{
                font-size: 50px;
                color: black;
                opacity: .10;
                cursor: pointer;
            }
        }
        .next-slide{
            position: absolute;
            top: 100px;
            right: 20%;
            i{
                font-size: 50px;
                color: black;
                opacity: .10;
                cursor: pointer;
            }
        }
    }
    .active-slide{
        display: block;
        animation: anima-op 1s forwards;
    }
}
#part-7{
    .reset-padding{
        padding-right: 0px;
        padding-left: 0px;
    }
    padding: 100px 0px;
    background-color: #eee;
    h2{
        font-family: $primary-font;
        margin-bottom: 50px;
    }
    small{
        font-size: 11px;
        font-weight: 700;
    }
    .buttons{
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 50px;
        margin: 10px 0px 30px 0px;
        a{
            display: inline-block;
            width: 100px;
            height: 35px;
            text-align: center;
            line-height: 30px;
            background: white;
            color: black;
            text-decoration: none;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 500;
            margin-right: 50px;
            position: relative;
            z-index: 5;
            cursor: pointer;
            transition: all .4s linear;
        }
        span{
            font-weight: 500;
            opacity: .7;
        }
    }
    p{
        opacity: .7;
    }
    span{
        font-size: 12px;
        opacity: .8;
    }

    .item-contain{
        padding: 35px;
        background-color: #ddd;
        margin-top: 30px;
        transition: all .3s linear;
        position: relative;
        border-radius: 10px;
        h4{
            font-family: $primary-font;
        }
        a{
            display: inline-block;
            width: 70px;
            height: 25px;
            line-height: 20px;
            font-weight: 500;
            font-size: 12px;
            border: 1px solid #ccc;
            border-radius: 50px;
            color: black;
            text-decoration: none;
            margin: 10px 0px 20px 0px;
        }
        h5{
            font-family: $primary-font;
            opacity: .8;
            margin: 30px;
            height: 50px;
        }
        .links-contain{
            min-height: 100px;
            p{
                font-size: 14px;
                color: black;
                font-weight: 500;
                i{
                    color: #6fc854;
                }
            }
        }
        a:nth-of-type(2){
            width: 160px;
            height: 35px;
            background-color: $primary-color;
            line-height: 30px;
            color: white;
            margin-top: 50px;
        }
        &:hover{
            transform: translate(20px, -20px);
            background-color: white;
            z-index: 5;
            box-shadow: -10px -10px 30px rgba(0, 0, 0, .25);
        }
    }
    #single-a{
        border: 1px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
    }
} 


#part-8{
    padding: 50px 0px;
    h3{
        font-family: $primary-font;
        margin-bottom: 30px;
        text-align: center;
    }
    .subscribe{
        width: 80%;
        border: 1px solid #ccc;
        display: inline-block;
        height: 40px;
        padding: 3px;
        border-radius: 50px;
        margin-bottom: 30px;
        button{
            border: none;
            font-size: 14px;
            width: 140px;
            height: 100%;
            float: right;
            font-weight: 600;
            color: white;
            background-color: #6fc854;
            border-radius: 50px;
            line-height: 20px;
            @media only screen and(max-width:430px) {
                width: 94px;
            }
            i{
                font-size: 12px;
                margin-left: 5px;
            }
        }
        input{
            float: left;
           height: 100%;
           border-radius: 50px;
           border: none;
           outline: none;
           padding: 0px 0px 5px 10px;
           font-size: 13px;
           @media only screen and(max-width:430px) {
               width: 90px;
           }
        }
    }
    small{
        font-weight: bold;
        font-size: 11px;
        color: #ddd;
        display: inline-block;
        margin-bottom: 30px;
    }
}

#part-9{
    padding: 49px 9px;
    h6{
        font-size: 16px;
        margin-bottom: 30px;
        span{
            font-weight: bold; 
        
        }
    }
    div{
        small{
            display: inline-block;
            width: 250px;
            color: #ccc;
            margin-bottom: 20px;
        }
    }
    img{
        display: block;
        width: 100px;
        margin-bottom: 20px;
    }
    i{
        margin: 0px 15px 30px 0px;
        font-size: 14px;
        color: #ddd;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
            color: #6fc854;
        }
    }
    p{
        font-size: 11px;
    }
    a{
        font-size: 14px;
        color: #ddd;
        text-decoration: none;
        transition: all .3s linear;
        display: block;
        margin-bottom: 10px;
        &:hover{
            color: #6fc854;
        }
    }

    .footer{
        a{
            display: inline;
            &:hover{
                color: blue;
            }
        }
        small{
            display: inline;
        }
        span{
            font-size: 10px;
            font-weight: bold;
        }
        span:nth-of-type(2){
             font-family: 'Oleo Script Swash Caps', cursive;
             font-size: 20px;
             margin-left: 5px;
        }
    }
}